<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zjm404.stu.mybatis.test.DemoMapper">
    <select id="selectById" resultType="cn.zjm404.stu.mybatis.test.DemoDO">
        SELECT * FROM demo WHERE id=#{id}
    </select>
</mapper>