<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>HttpServletTest</servlet-name>
        <servlet-class>cn.zjm404.stu.servlet.HttpServletTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpServletTest</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
</web-app>